.KudaPort {
  background: linear-gradient(
    155.63deg,
    #3eb1d6 0.98%,
    #12556f 22.8%,
    #082b2e 42.31%
  );
  height: 100vh;
}
.icon {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  position: fixed;
  right: 10px;
  padding: 10px;
}
.Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Kud {
  width: 230px;
}
