* {
  padding: 0;
  margin: 0;
}
.KudaPort {
  background: linear-gradient(
    155.63deg,
    #3eb1d6 0.98%,
    #12556f 22.8%,
    #082b2e 42.31%
  );
  padding-bottom: 120px;
  box-sizing: border-box;
  position: relative;
}
.icon {
  background: rgba(5, 5, 5, 0.12);
  border-radius: 10px;
  position: fixed;
  right: 10px;
  top: 20px;
  padding: 15px;
  z-index: 1;
}
.Kud {
  width: 230px;
  position: fixed;
}
.Section {
  text-align: center;
  padding-top: 100px;
}
.Hello {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
  color: #838383;
  padding-top: 25px;
  padding-bottom: 4px;
}
.Name {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 30px;
}
.Scroll {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.Mail{
    position: fixed;
    right: 0;
    bottom: 0;
}
.Sidebar{
    background-color: #082b2e;
    width: 400px;
    text-align: center;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0.7;
}
.Sidebar-NX{
    display: none;
}
.Side > h2 {
    color: white;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.Side{
    padding-top: 110px;
}
@media (max-width: 1200px) {
    .Sidebar{
        width: 300px;
    }
}
@media (max-width: 1100px) {
.Name{
    font-size: 27px;
    width: 50ch;
    margin: auto;
    line-height: 40px;
}
}
@media (max-width: 920px) {
    .Sidebar{
        width: 240px;
    }
}
@media (max-width: 820px) {
.Profile {
    width: 300px;
}
.Hello {
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
  }
  .Name {
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
  }
  .Scroll {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .Kud {
    width: 200px;
  }
}
@media (max-width: 540px) {
    .Sidebar{
        width: 100%;
    }
}
